* {
	margin: 0;
	padding: 0;
	border: 0;
}

h1, h2, p, div {
  font-family: 'Big Shoulders Text', cursive;
}

header {
  background-color: #7700cf;
  padding: 6.5%;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2rem;
}

p {
  color: #7700cf;
  padding: 5%;
  text-align: center;
  font-size: 1.05rem;
}

h2 {
  color: #7700cf;
  font-size: 2rem;
  text-align: center;
  padding: 2%;
}

#box-1 {
  background-color: #acecd5;
  padding: 5%;
  margin: 5%;
  border: 5px solid #7700cf;
}

#box-2 {
  background-color: #fff9aa;
  padding: 5%;
  margin: 5%;
  border: 5px solid #7700cf;
}

#box-3 {
  background-color: #ffd5b8;
  padding: 5%;
  margin: 5%;
  border: 5px solid #7700cf;
}

#box-grid {
  margin: auto;
}

#hovercolor {
  background-color: #80cee1 !important;
}

div {
  text-align: center;
  padding: 2%;
}


/*** Media Queries ***/

@media (min-width: 600px) {
  #box-grid {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.3rem;
  }

  p {
    padding: 3%;
    font-size: 1.2rem;
  }

  #box-grid {
    width: 100%;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 2.7rem;
  }

  p {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

}

@media (min-width: 1250px) {
  h1 {
    font-size: 3rem;
  }

  #box-grid {
    width: 110%;
  }

  h2 {
    font-size: 3rem;
  }
}
